.navbar {
  font-size: 1.2rem; 
}

.navbar .nav-link,
.navbar .navbar-brand,
.navbar .dropdown-item {
  font-size: 1.2rem;
}

.navbar .bi-cart {
  font-size: 1.4rem;
}

.navbar-toggler {
  font-size: 1.2rem;
}

