.categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;

}

.category{
    width: 250px;
    height: 330px;
    text-align: center;
    margin: 20px;

    text-decoration: none;
}

.category img{
    width: 100%;
    height: 250px;
    border: 20px solid #000000;

    border-radius: 50px;
}

.category h2{
    margin-top: 5px;
    font-size: 25px;
    color: #030f2d;
}

.category a{
    text-decoration: none;
}


@media screen and (min-width:400px) and (max-width:800px){
    .categories{
        margin-top: 15px;

    }

    .category{
        width: 170px;
        height: 200px;
        margin: 10px;
    }

    .category img{
        height: 170px;
        border: 20px solid #000000;

        border-radius: 50px;
    }

    .category h2{
        margin-top: 5px;
        font-size: 17px;
    }

}

@media screen and (min-width:0px) and (max-width:400px){
    .categories{
        margin-top: 15px;

    }

    .category{
        width: 140px;
        height: 200px;
        margin: 7px;
    }

    .category img{
        height: 140px;
        border: 20px solid #000000;

        border-radius: 40px;
    }

    .category h2{
        margin-top: 5px;
        font-size: 20px;
    }

}
